@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: 'Baloo 2', cursive;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /*background-color: rgba(8, 85, 240, 0.6);*/
  /* .6 */
}

@media screen and (min-width: 768px) {
  body {
    /*padding: 0px 10px;*/
    /*background-color: rgb(30, 48, 164);*/
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input.form-control {
  padding: 10px;
}

/*.bodega-cats {
  /*width: 100%;*/

/*border-radius: 15px;*/
/*border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;*/
/*-webkit-clipPath: inset(0% 0% 0% 0% round 15px);*/
/*clipPath: inset(0% 0% 0% 0% round 15px);*/
/*}*/

.mapboxgl-canvas-container {
  display: block;
}

canvas {
  display: block;
}

.isometric_acht {
  fill: #e84925;
  /*#f05a28;*/
}
.isometric_negen {
  fill: #8d2319;
  /*#be1e2d;*/
}
.st0 {
  fill: #225b49;
}
.st1 {
  fill: #569080;
}
.st2 {
  fill: #f28103;
}
.st3 {
  fill: #7bd6c4;
}
.st4 {
  fill: #72c0ab;
}
.st5 {
  fill: #f29227;
}
.st6 {
  fill: #ff7344;
}
.st7 {
  fill: #f8f7c5;
}
.st8 {
  fill: #f5df89;
}
.st9 {
  fill: #ad9a74;
}
.st10 {
  fill: none;
}
.st11 {
  fill: #be1e2d;
}
.st12 {
  fill: #f2d76c;
}

.isometric_user_acht {
  fill: #f05a28;
}
.isometric_user_negen {
  fill: #be1e2d;
}
.isometric_elf {
  fill: #72c0ab;
}
.isometric_twaalf {
  fill: #569080;
}
.st0 {
  fill: #225b49;
}
.st1 {
  fill: #f28103;
}
.st2 {
  fill: #7bd6c4;
}
.st3 {
  fill: #f29227;
}
.st4 {
  fill: #ff7344;
}
.st5 {
  fill: #f8f7c5;
}
.st6 {
  fill: #f5df89;
}
.st7 {
  fill: #ad9a74;
}
.st8 {
  fill: none;
}
.st9 {
  fill: #be1e2d;
}
.st10 {
  fill: #f2d76c;
}
.st11 {
  fill: #72c0ab;
}
.st12 {
  fill: #569080;
}
